@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  max-width: 1512px;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    width: 100% !important;
    display: block !important;
    margin: 0 auto !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.marquee-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.marquee {
  display: flex;
  gap: 2rem;
  white-space: nowrap;
  animation: marquee 7s linear infinite;
}

.marquee-item {
  flex: none;
}

.marquee-container:hover .marquee {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
